@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --font: #000000;
  --background: #FFFFFF;
  --cards: #F6F6F6;
  --primary-color: #1151FB;
  --primary-darker: #0a2e92;
  --primary-lighter: #5197FF;
  --yellow: #FFB710;
}

* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}


/* sidebar */

nav {
  height: 100%;
  width: 250px;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-container {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

nav h1 {
  font-size: 1.5rem;
  display: inline;
}


ul {
  list-style: none;
  margin: 1rem;
}

i {
  font-size: 25px;
  margin-right: 0.5rem;
  font-weight: 500;
}

li a {
  color: var(--font);
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: all .2s;
}

li:nth-of-type(7) {
  margin-top: 5rem;
}

li a:hover {
  color: var(--primary-color);
}

li a:hover:before {
  content: '';
  width: 10px;
  height: 40px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0px;
  border-radius: 20px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 250px - 320px);
  min-width: 400px;
  left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right {
  margin-left: 1rem;
  padding: 1rem;
}

header .left {
  display: flex;
  margin-right: 1rem;
}

.search-box {
  position: relative;
  color: var(--font);
  margin: 0 1rem;
}

.search-box i {
  position: absolute;
  left: 13px;
  top: 2px;
  z-index: 100;
  color: #798181;
}

header input[type="search"] {
  border: none;
  outline: none;
  background-color: var(--cards);
  padding: 0.5rem 1.5rem;
  padding-left: 2.8rem;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  border-radius: 30px;
}

header i:hover:not(.uil-search) {
  cursor: pointer;
  color: var(--primary-color);
  transition: all .2s;

}

/* right container */
.right-container {
  width: 320px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
}

.user-panel {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.user-info {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.user-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}

.user-text p {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  margin-top: 2rem;
  outline: none;
  border: none;
  background-color: var(--primary-darker);
  font-size: 1rem;
  font-family: inherit;
  color: var(--background);
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--font);
}

.right-container .grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 1rem;
}

.card {
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 15px;
}

.card p {
  font-weight: 500;
}

.right-container .card img {
  width: 100%;
}

.card:last-of-type {
  background-color: var(--primary-darker);
  border-radius: 80px;
  margin-top: 1rem;
}