@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --font: #000000;
  --background: #FFFFFF;
  --cards: #F6F6F6;
  --primary-color: #1151FB;
  --primary-darker: #0a2e92;
  --primary-lighter: #5197FF;
  --yellow: #FFB710;
}

* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}


/* sidebar */

nav {
  height: 100%;
  width: 250px;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: auto;
  transition: all .3s;
}

.logo-container {
  margin-left: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

nav h1 {
  font-size: 1.5rem;
  display: inline;
}


ul {
  list-style: none;
  margin: 1rem;
}

i {
  font-size: 25px;
  margin-right: 0.5rem;
  font-weight: 500;
}

li a {
  color: var(--font);
  text-decoration: none;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: all .2s;
}

li:nth-of-type(7) {
  margin-top: 5rem;
}

li a:hover {
  color: var(--primary-color);
}

li a:hover:before {
  content: '';
  width: 10px;
  height: 40px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0px;
  border-radius: 20px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 250px - 320px);
  min-width: 400px;
  left: 250px;
  display: grid;
  grid-template-columns: 10% 80%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  z-index: 10;
  transition: all .3s;
}

header .right {
  padding: 1rem;
}

header .left {
  display: flex;
  margin-right: 1rem;
  justify-content: end;
}

.search-box {
  position: relative;
  color: var(--font);
  margin: 0 1rem;
}

.search-box i {
  position: absolute;
  left: 13px;
  top: 2px;
  z-index: 100;
  color: #798181;
}

header input[type="search"] {
  border: none;
  outline: none;
  background-color: var(--cards);
  padding: 0.5rem 1.5rem;
  padding-left: 2.8rem;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  border-radius: 30px;
}

header i:hover:not(.uil-search) {
  cursor: pointer;
  color: var(--primary-color);
  transition: all .2s;
}




/* main */
main {
  width: calc(100% - 320px - 250px);
  min-width: 400px;
  top: 90px;
  left: 250px;
  right: 320px;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  transition: all .3s;
}

.title {
  display: flex;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.title i {
  font-size: 2rem;
}

.dashboard-card {
  background-color: var(--cards);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dashboard-card p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.main-section {
  padding: 1rem;
}


/* visitors */
.visitors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 90%;
  gap: 1rem;
  padding-top: 0;
  margin-bottom: 1rem;
}

.dashboard-card svg {
  width: 120px;
  height: 120px;
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 10;
  stroke-linecap: round;
  transform: translateX(5px);
}

.dashboard-card:nth-of-type(3) svg {
  stroke: var(--yellow);
}

.dashboard-card:nth-of-type(4) svg {
  stroke: var(--primary-lighter);
}

.dashboard-card h3 {
  position: absolute;
  transform: translateY(12px);
  font-size: 1.3rem;
}

/* statistics */
.statistics img {
  border: 1px solid var(--cards);
  border-radius: 30px;
  margin: 1rem;
  margin-bottom: 0;
  width: 100%;
}

.statistics .dashboard-card {
  margin-top: 0;
  background-color: var(--background);
}

/* recent activity */
table {
  width: 100%;
  padding: 1rem 2rem;
}

thead {
  text-align: left;
}

td {
  padding-top: 0.5rem;
}




/* right container */
.right-container {
  width: 320px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
  overflow-x: auto;
  background-color: var(--background);
}

.user-panel {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  min-height: 830px;
  border-radius: 40px;
}

.user-info {
  color: var(--background);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.user-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}

.user-text p {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  margin-top: 2rem;
  outline: none;
  border: none;
  background-color: var(--primary-darker);
  font-size: 1rem;
  font-family: inherit;
  color: var(--background);
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--font);
}

.right-container .grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 1rem;
}

.card {
  background-color: var(--background);
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 15px;
}

.card p {
  font-weight: 500;
}

.right-container .card img {
  width: 100%;
}

.card:last-of-type {
  background-color: var(--primary-darker);
  border-radius: 80px;
  margin-top: 1rem;
}

/* close nav */
nav.close {
  width: 90px;
}

nav.close h1 {
  display: none;
}

nav.close li span {
  display: none;
}

nav.close ~ main, nav.close ~ header {
    width: calc(100% - 320px - 90px);
    left: 90px;
}

